@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400&display=swap');

body {
  margin: 0;
  font-family: 'Karla', sans-serif !important;
  /* background-color: #EAEFD3 !important; */

}

.business-list {
  columns: 2 200px;
  column-gap: 10px;

}

.business-list ul{
  margin: 0;
  break-inside: avoid-column;         
  display:table;  
}
